extends includes/layout

block title
	title Grid Nativo Manual - Stylus Framework
	- var activePage = '/grid-nativo-manual'

block container
	
	.g-container.c-block-1
		h1.o-heading-1 Grid Nativo Manual
		
		
	.g-container--grid.c-block-4
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		
		
	ul.g-container.c-list-1
		li.c-list-1__item Item
		li.c-list-1__item Item
		li.c-list-1__item Item
		li.c-list-1__item Item
		li.c-list-1__item Item
		
		
	section.g-container.posts
		article.posts__article Item
		article.posts__article Item
		article.posts__article Item
		article.posts__article Item
		article.posts__article Item
		
		
	.g-container.gallery
		.gallery__item Item
		.gallery__item Item
		.gallery__item Item
		.gallery__item Item
		.gallery__item Item
		.gallery__item Item
	
		
		
	.g-container--full-grid.c-block-4
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item
		.c-block-4__item Item		
		
