extends includes/layout

block title
	title Grid Flexbox - Stylus Framework
	- var activePage = '/grid-flexbox'

block container

	.g-container.c-block-1
		h1.o-heading-1 Grid Flexbox
		
		
	.g-container.c-block-2
		.g-row
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
	
	
	.g-container.c-block-2
		.g-row
			.g-col-m-6.g-col-xl-3.c-block-2__item--v2 Item
			.g-col-m-6.g-col-xl-6.c-block-2__item--v2 Item
			.g-col-m-6.g-col-xl-3.c-block-2__item--v2 Item
			.g-col-m-6.g-col-xl-6.c-block-2__item--v2 Item
			.g-col-m-12.g-col-xl-6.c-block-2__item--v2 Item
			
			
	.g-container.c-block-2
		.g-row
			.g-col-m-3.g-col-xl-4.c-block-2__item Item
			.g-col-m-9.g-col-xl-6.g-col-offset-xl-2.c-block-2__item Item
			.g-col-m-6.g-col-xl-3.g-col-offset-xl-1.c-block-2__item Item
			.g-col-m-6.g-col-xl-6.c-block-2__item Item
			.g-col-m-12.g-col-xl-2.c-block-2__item Item
			
			
	.g-container.c-block-2
		.g-row.g-m-6.g-xl-4
			.g-col.c-block-2__item--v2 Item
			.g-col.c-block-2__item--v2 Item
			.g-col.c-block-2__item--v2 Item
			.g-col.c-block-2__item--v2 Item
			.g-col.c-block-2__item--v2 Item	
			.g-col.c-block-2__item--v2 Item
			
			
	.g-container--full-grid.c-block-2
		.g-row
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
			.g-col-m-2.g-col-xl-1.c-block-2__item Item
		
