extends includes/layout

block title
	title Grid Flexbox Manual - Stylus Framework
	- var activePage = '/grid-flexbox-manual'

block container

	.g-container.c-block-1
		h1.o-heading-1 Grid Flexbox Manual
		
		
	.g-container.c-block-5
		.c-block-5__box
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
		
		
	ul.g-container.c-list-2
		.c-list-2__box
			li.c-list-2__item Item
			li.c-list-2__item Item
			li.c-list-2__item Item
			li.c-list-2__item Item
			li.c-list-2__item Item
		
		
	section.g-container.news
		.news__box
			article.news__article Item
			article.news__article Item
			article.news__article Item
			article.news__article Item
			article.news__article Item
		
		
	.g-container.photos
		.photos__box
			.photos__item Item
			.photos__item Item
			.photos__item Item
			.photos__item Item
			.photos__item Item
			.photos__item Item

		
	.c-block-5
		.c-block-5__box
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
			.c-block-5__item Item
