extends includes/layout

block title
	title TARS - TECNOLOGÍA APLICADA, RENDIMIENTO Y SERVICIO
	- var activePage = '/e-commerce'

block container
	.c-block-portafolio
		.c-block-portafolio__encabezado
			.c-encabezado__btn
				a.fas.fa-arrow-left(href="#")
				a.fas.fa-arrow-right(href="#")
			.c-encabezado__banner.banner-hunt
			.c-encabezado__info
				p.c-info__1 #HTML, #Bootstrap, #jQuery
				h1 The Hunt
				p.c-info__2 2020
		.c-block-portafolio__content
			.c-content__info
				a.fas.fa-arrow-left(href="/e-commerce")
				p We work on the development of a store that can be fully parameterized according to the needs of our client and that includes the administrative and editing facilities that are required for these cases.
				a.c-block-3__btn__1(href="#") SEE ON THE WEB				
			.c-content__slide
				.main
					.slider.slider-for
						div
							h3 1
						div
							h3 2
						div
							h3 3
						div
							h3 4
						div
							h3 5
					.slider.slider-nav
						div
							h3 1
						div
							h3 2
						div
							h3 3
						div
							h3 4
						div
							h3 5
					//-.action
						a(href='#' data-slide='3') go to slide 3
						a(href='#' data-slide='4') go to slide 4
						a(href='#' data-slide='5') go to slide 5 */
