extends includes/layout

//- block title
	 title Manuel Cárdenas - Diseñador Gráfico

block container
	.g-container.c-block-1
		h1.o-heading-1.c-block-1__heading Nigma Framework
		p.c-block-1__intro Código pre-horneado listo para mezclar, probar y disfrutar! ❤️
