extends includes/layout

block title
	title TARS - TECNOLOGÍA APLICADA, RENDIMIENTO Y SERVICIO
	- var activePage = '/web-apps'

block container
	.c-block-text-center
		p WEB APPS
	.c-block-we-make
		h1.c-block-we-make__heading Web Apps
		p.c-block-we-make__information Ac molestie pulvinar nulla at. Sed non fermentum id nunc. Feugiat sit ipsum ullamcorper a.		
		li.c-block-we-make__customers
			a.customers__btn.gatorade(href="#")
				h3.btn__info-1 Gatorade
					hr
					p 2020
			a.customers__caja-texto(href="#")
				h3.btn__info-2 Gatorade
					hr
					p 2020
					
		li.c-block-we-make__customers
			a.customers__btn.havoline(href="#")
				h3.btn__info-1 Havoline
					hr
					p 2020
			a.customers__caja-texto(href="#")
				h3.btn__info-2 Havoline
					hr
					p 2020
				
	.c-block-we-make
		li.c-block-we-make__customers
			a.customers__btn.hunt(href="#")
				h3.btn__info-1 The Hunt
					hr
					p 2020
			a.customers__caja-texto(href="#")
				h3.btn__info-2 The Hunt
					hr
					p 2020
					
		li.c-block-we-make__customers
			a.customers__btn.classic(href="#")
				h3.btn__info-1 Classic
					hr
					p 2020
			a.customers__caja-texto(href="#")
				h3.btn__info-2 Classic
					hr
					p 2020
