// Menú principal 
ul.c-nav-1
	li
		a(class={active: activePage == '/index'} href="/grid-nativo.html") Inicio
		
	li
		a(class={active: activePage == '/servicios'} href="/grid-nativo-manual.html") Servicios
		ul.c-nav-ident-1
			li
				span.icon-chevron-small-right
				|  Identidad corporativas
			li
				span.icon-chevron-small-right
				|  Diseño y Desarrollo web
			li
				span.icon-chevron-small-right
				|  Posicionamiento Web - SEO
			li
				span.icon-chevron-small-right
				|  Social Media Marketing
			li
				span.icon-chevron-small-right
				|  fotografías (Aéreas y 360)
			li
				span.icon-chevron-small-right
				|  Diseño Publicitario
		
	li
		a(class={active: activePage == '/portafolio'} href="/") Portafolio}
				
	li
		a(class={active: activePage == '/contactenos'} href="/") Contáctenos

	li
		a(class={active: activePage == '/grid-nativo'} href="/grid-nativo.html") Grid Nativo
		
	li
		a(class={active: activePage == '/grid-nativo-manual'} href="/grid-nativo-manual.html") Grid Nativo 
		
// /Menú principal 
