// Menú principal 
ul.c-nav-1
	li
		a(class={active: activePage == '/home'} href="/index.html") HOME
	li
		a(class={active: activePage == '/we-make'} href="/we-make.html") WE MAKE
	li
		a(class={active: activePage == '/about-us'} href="/about-us.html") ABOUT US
	li
		a(class={active: activePage == '/team'} href="/team.html") TEAM
	li
		a.c-nav-1__btn(class={active: activePage == '/contact'} href="/contact.html") CONTACT
		
// /Menú principal 
