include mixins
doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		//- Desactivar en dispositivos móviles la detección automática de números de teléfono, emails, direcciones y fechas.
		meta(name="format-detection", content="telephone=no, email=no, address=no, date=no")
		
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		
		block title
			title TARS - TECNOLOGÍA APLICADA, RENDIMIENTO Y SERVICIO
		
		//- Posicionamiento
		meta(name='title', content='TARS - TECNOLOGÍA APLICADA, RENDIMIENTO Y SERVICIO')
		meta(name='description', content='')
		meta(name='author', content='Manuel Cárdenas - Diseñador Gráfico')
		meta(name='keywords', content='tecnología, digital, app, web, startups')
		
		//- Icono Cabecera
		link(rel="shortcut icon", href="/assets/images/favicon.png", type="image/png")
		//- link(rel='icon' type='image/x-icon' href='/assets/img/favicon.ico')
		
		//- Estilos globales
		link(rel="stylesheet", href="/assets/css/global.css",  data-turbolinks-track="reload")
		link(rel="stylesheet", href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Aarrow_right",  data-turbolinks-track="reload")
		
		//- Turbolinks
		script(src="/assets/js/turbolinks.js")
		
		//- Font Icono
		script(src='https://kit.fontawesome.com/8cc53c0b29.js' crossorigin='anonymous')
	body.c-block-body
		
		header.c-header
			.c-header__container
				//- Cuando se especifica el atributo data-turbolinks-permanent el elemento
					queda fijo y no se rendiza en cada carga de la página. Es obligatorio
					agregar un ID al elemento.
				a#logo.c-header__logo(href="/", data-turbolinks-permanent)
					img(src="/assets/images/logo-tars.png", alt="Logo TARS")
				
				.c-header__nav
					include global-menu
			
		
		.c-global
			include menu-lateral
			
			block container
			//-br
			
		
		//- Al definir el valor de data-turbolinks en false, no se carga la
			página con ajax, es decir se carga la página por completo.
		//- footer.g-container.c-block-3
			a(href="/", data-turbolinks="false") Grupo Nigma
		
		
		// popUps 
		.o-is-hidden
			include global-popups
		// Fin - popUps 
		
			
		// Vendors 
		script(src="/assets/js/vendor.js", defer, data-turbolinks-eval="false", data-turbolinks-track="reload")

		// Scripts globales 
		script(src="/assets/js/global.js", defer, data-turbolinks-eval="false", data-turbolinks-track="reload")

		block js_footer
