// Menú Lateral
.c-nav-fixed
	.c-nav-base
		.c-nav-lateral
			p.c-nav-lateral__title We Make
			ul.c-nav-lateral__ul
				li
					.fas.fa-caret-right(class={active: activePage == '/e-commerce'} href="/e-commerce.html" )
					a.c-nav-lateral__btn(class={active: activePage == '/e-commerce'} href="/e-commerce.html" ) E-commerce
				li
					.fas.fa-caret-right(class={active: activePage == '/landing-page'} href="/landing-page.html")
					a.c-nav-lateral__btn(class={active: activePage == '/landing-page'} href="/landing-page.html") Landing Page
				li
					.fas.fa-caret-right(class={active: activePage == '/web-apps'} href="/web-apps.html")
					a.c-nav-lateral__btn(class={active: activePage == '/web-apps'} href="/web-apps.html") Web Apps
				li
					.fas.fa-caret-right(class={active: activePage == '/startups'} href="/startups.html") 
					a.c-nav-lateral__btn(class={active: activePage == '/startups'} href="/startups.html") Startups
		
// /Menú Lateral 
