/*----------------------------------------------------------------------------*
	$C-BLOCK
*----------------------------------------------------------------------------*/


/* ^.c-block-body
-----------------------------------------------------------------------------*/

.c-block-body
	background: #ebeff2

/* ^Fin - .c-block-body
-----------------------------------------------------------------------------*/



/* ^.c-block-1
-----------------------------------------------------------------------------*/

.c-block-1
	margin-bottom: 40px


.c-block-1__heading
	margin-bottom: 20px
	

.c-block-1__intro
	text-align: center

/* ^Fin - .c-block-1
-----------------------------------------------------------------------------*/





/* ^.c-block-2
-----------------------------------------------------------------------------*/

.c-block-2
	margin-bottom: 50px
	border: 1px dashed $base2-color
	background: #fff


.c-block-2__item
	padding: 30px 10px
	margin: 5px 0
	background: $base-color
	font-size: 1.4rem
	color: #fff
	text-align: center

	+min('m')
		padding: 70px 10px


.c-block-2__item--v2
	@extends .c-block-2__item
	background: $base2-color



/* ^Fin - .c-block-2
-----------------------------------------------------------------------------*/





/* ^.c-block-3
-----------------------------------------------------------------------------*/

.c-block-3
	padding: 40px
	border-top: 1px solid #b9c1c1
	text-align: center

/* ^Fin - .c-block-3
-----------------------------------------------------------------------------*/





/* ^.c-block-4
-----------------------------------------------------------------------------*/

.c-block-4
	@extend .c-block-2


.c-block-4__box
	grid()


.c-block-4__item
	@extends .c-block-2__item
	col(6)

	+min('m')
		col(2)

	+min('xl')
		col(1)

/* ^Fin - .c-block-4
-----------------------------------------------------------------------------*/





/* ^.c-block-5
-----------------------------------------------------------------------------*/

.c-block-5
	@extends .c-block-2


.c-block-5__box
	+min('m')
		grid()


.c-block-5__item
	@extends .c-block-2__item

	+min('m')
		col(1,6)

	+min('xl')
		col(1,12)

/* ^Fin - .c-block-5
-----------------------------------------------------------------------------*/





/* ^posts
-----------------------------------------------------------------------------*/

.posts
	@extend .c-block-2
	grid()


.posts__article
	@extends .c-block-2__item
	col(6)

	&:nth-child(1)
		+min('m')
			col(3)

		+min('xl')
			col(4)

	&:nth-child(2)
		+min('m')
			col(9)

		+min('xl')
			col(6)
			col-offset(6)

	&:nth-child(3)
		+min('m')
			col(6)

		+min('xl')
			col(3)
			col-offset(1)

	&:nth-child(4)
		+min('m')
			col(6)

	&:nth-child(5)
		+min('m')
			col(12)

		+min('xl')
			col(2)

/* ^Fin - posts
-----------------------------------------------------------------------------*/





/* ^news
-----------------------------------------------------------------------------*/

.news
	@extend .c-block-2


.news__box
	+min('m')
		grid()


.news__article
	@extends .c-block-2__item

	&:nth-child(1)
		+min('m')
			col(3, 12)

		+min('xl')
			col(4, 12)

	&:nth-child(2)
		+min('m')
			col(9, 12)

		+min('xl')
			col(6,12)
			col-offset(2, 12)

	&:nth-child(3)
		+min('m')
			col(6, 12)

		+min('xl')
			col(3, 12)
			col-offset(1, 12)

	&:nth-child(4)
		+min('m')
			col(6, 12)

	&:nth-child(5)
		+min('m')
			col(1,1)

		+min('xl')
			col(2, 12)

/* ^Fin - news
-----------------------------------------------------------------------------*/





/* ^.gallery
-----------------------------------------------------------------------------*/

.gallery
	@extend .c-block-2
	grid($columns-movil:1)

	+min('m')
		grid($columns:2)

	+min('xl')
		grid($columns:3)

	> *
		@extends .c-block-2__item--v2


/* ^Fin - .gallery
-----------------------------------------------------------------------------*/





/* ^.photos
-----------------------------------------------------------------------------*/

.photos
	@extend .c-block-2


.photos__box

	+min('m')
		grid()

	> *
		@extends .c-block-2__item--v2

		+min('m')
			col(1,2)

		+min('xl')
			col(1,3)


/* ^Fin - .photos
-----------------------------------------------------------------------------*/
